* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    display: flex;
    height: 100vh;
}

.shell-game {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
   perspective: 4000px;
   margin: auto;
}

.shell-card {
    position: relative;
    width: 25%;
    height: 33%;
    margin: 10px;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .3s;
}

.shell-game:active {
    transform: scale(0.95);
    transition: transform .2s;
}

.shell-game.flip {
    transform: rotateY(180deg);
}

.front-card, .back-card {
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    backface-visibility: hidden;
    padding: 10px;
    border-radius: 10px;
}

.front-card {
    transform: rotateY(180deg)
}