body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

h1 {
    text-align: center;
}

.inner-card {
    height: 100px;
    width: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.85s ease;

}

.outer-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px 40px;
    margin: 20px;
    perspective: 1300px;
    background: transparent;
}

.front-shell,.back-shell {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    background: limegreen;

}

.back-shell {
    transform:rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
}

#game-board {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    height: 85px;
    width: 450px;
    margin: auto;
    font-size: 40px;

}